.alert {
    width: 18%;
    margin-top: 1rem;
    margin-left: 50% !important;
    transform: translateX(-50%);
}

.refreshButton {
    margin-top: 1rem !important;
    margin-left: 50% !important;
    transform: translateX(-50%);
}

.player_names_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem !important;
    font-size: 1.5rem;
}

.player_turn {
    background-color: rgba(31, 63, 248, 0.2);
    width: 20%;
    padding: 0.5rem;
}

.no_turn {
    width: 20%;
    padding: 0.5rem;
}

.player_avatar {
    background-color: rgb(238, 138, 16) !important;
    margin: auto;
}

.opponent_avatar {
    background-color: rgb(16, 68, 238) !important;
    margin: auto;
}

.game_chat {
    text-align: center;
    margin-top: 2rem !important;
}

.avatar_image {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
