.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: [row1-start] 15% [row1-end] 200px [third-line] 200px [fourth-line] 200px [fifth-line] 200px [sixth-line] 200px [last-line];
}

.player_board {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    margin-right: 2rem;
}

.player_board h3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.opponent_board {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.chat_container {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 7;
    grid-row-end: 10;
}

.player_turn {
    background-color: rgba(31, 63, 248, 0.2);
}

.opponent_turn {
    background-color: rgb(172, 169, 169, 0.2);
}
